<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rafting.masti.rishikesh.holiday.adventure.bailiwick.com.adventure">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".terms.TermsActivity"></activity>
        <activity android:name=".biking.BikingActivity" />
        <activity android:name=".bungy_jump.BungeeJumpActivity" />
        <activity android:name=".cycling.CyclingActivity" />
        <activity android:name=".activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".camp.CampMasterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegister.LoginRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomePage"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.ProductViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".activities.ProductCatagory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rafting.RaftingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camp.CampViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CartList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity_vendor.ActivityVendorDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_vendor.ActivityCampInventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_vendor.ActivityCampControl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_vendor.ActivityRaftingInventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_vendor.ActivityRaftControl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_vendor.ActivityVendorHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OTPscreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EnquiryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".biking.BikingConfirmationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />

        <activity android:name=".activity_vendor.ActivityCycleControl"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"/>

        <activity android:name=".activity_vendor.ActivityBikingInventory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"/>

        <activity android:name=".activity_vendor.ActivityCyclingInventory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"/>

        <activity android:name=".activity_vendor.ActivityBungyInventory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"/>

        <!--
              <activity
              android:name=".EnquiryForms.EnquiryForm1"
              android:screenOrientation="portrait"></activity>
        -->
        <!-- facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- facebook -->
        <!-- Notification Services -->
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".firebase.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
  <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        -->
        <!-- End zNotification Services -->
        <!-- Pay U Money -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fabaabc4273e4e67d52a5410e9b2fa7a59088976" /> <!-- Pay u money end -->
        <activity android:name=".activities.ContactUsActivity" />
        <activity android:name=".activities.AboutRafting" />
    </application>

</manifest>